body {
  background: white;
}

#container {
  width: 800px;
}

form {
  margin: 50px 0 25px 0;
}

#page_title {
  text-align: center;
  padding-bottom: 20px;  
}

#row {
  display: inline;
}

p {
  font-size: 10px;
  color: red;
}

label {
  font-size: 22px;
  padding-top: 2px;
  height: 22px
}

#round_check {
  font-size: 16px;
  padding-top: 8px;
  height: 22px
}

label,
#amount_label,
#npeople_label,
#calc_button {
  text-align: right;
}

input[type=text], select {
  width: 200px;
}

#calc_button,
#reset_button {
  padding: 40px 0 20px 0;
}

input[type=submit] {
  width: 150px;
}

#results {
  text-align: center;
  background: #D5F5FF;
  padding: 35px 30px 20px 30px;
}

#errors {
  background: #FFE4E9;
  padding: 20px 50px 10px 50px;

}

